
  <!-- <div id="get-data-box">
    <a href="#" id="get-data">Get JSON data</a>
  </div> -->
  <!-- <nav> <a href="#votes"><p>Vote now</p></a></nav> -->
  <nav id="main-nav">
    <div class="nav-text">Gun Control Statistics Comparison: US and Australia</div>
    <div class="nav-text">Suicides</div>
    <div href="#vote-sec" class="btn-vote">vote now</div>
  </nav>

  <div id="timeline">
    <div class="nav-text">Homicides</div>
    <div class="nav-text">Suicides</div>
  </div>

  <section id="intro">
    <div class="intro-layer">
      <h2>GUN CONTROL</h2>
      <h1 class="main-title">US <span class="main-title" id="aus">AUS</span></h1>
      <h4 id="scroll">Scroll to view</h4>
    </div>
        <div class="fullscreen-bg">
          <iframe id="myVideo" class="fullscreen-bg__video" width="100%" height="100%"
          src="https://www.youtube.com/embed/YqBkT1M6piQ?&autoplay=1&controls=0"frameborder="0" volume="0">
          </iframe>
        </div>
  </section>

  <section id="homocide-aus">
    <img class="australia" src="http://www.tenstickers.co.uk/wall-stickers/img/preview/oceania-map-silhouette-wall-sticker-661.png">
    <div class="overlay">
      Australia
    </div>
    <div id="knife-left">
      <div class="title-text">Most common weapon in homicide</div>
      <div class="answer-text">Knife</div>
    </div>
    <div id="knife-right">
      <div class="wrapped-content">
        <div class="homicides" id="homicide-left">
          <div class="title-text">All homicides</div>
          <div class="answer-text">238</div>
        </div>
        <div class="homicides">
          <div class="title-text">Firearm homicides</div>
          <div class="answer-text counter">20</div>
        </div>
      </div>
        <canvas id="aus_murder" class="circle-graph" width="50%" height="50%"></canvas>
      <div>
        <div class="answer-text">44%</div>
      </div>
    </div>
  </section>

  <section id="homocide-us">
    <img class="australia" src="http://www.atalantasosnoff.com/wp-content/uploads/2014/09/grey-map-300x235.png">
    <div class="overlay">
      USA
    </div>
    <div id="knife-right">
      <div class="title-text">Most common weapon in homicide</div>
      <div class="answer-text">Firearm</div>
    </div>
    <div id="knife-left">
      <div class="wrapped-content">
        <div class="homicides" id="homicide-left">
          <div class="title-text">All homicides</div>
          <div class="answer-text">15,809</div>
        </div>
        <div class="homicides">
          <div class="title-text">Firearm homicides</div>
          <div class="answer-text counter">10,945</div>
        </div>
      </div>
        <canvas id="us_murder" class="circle-graph" width="50%" height="50%"></canvas>
      <div>
        <div class="answer-text">69%</div>
      </div>
    </div>
  </section>

  <section id="guns">
    <div id="quote"></div>
    <div id="top-quote">
      <div id="text-quote">
        "If U.S. Firearm homicide rates were only 10 times as high as firearm homicide rates in Australia, rather than 23 times as high, there would be substantially fewer homicides."
        <br>
        <br>
        <div class="title-text">- by so-and-so</div>
      </div>
    </div>
  </section>

  <section class="main-sec" id="orlando-sec">
    <div id="orlando"></div>
    <div id="orlando-top"></div>
    <div class="homicides" id="orlando-quote">
    <div class="answer-text">In 1996,</div>
      <div class="title-text">Australia banned firearms after the Port Arthur Massacre which killed xx people.</div>
      <div class="title-text">Since then, Australia has had </div>
      <div class="answer-text">0 mass shootings</div>
      <div class="title-text">The United States has had</div>
      <div class="answer-text">64 mass shootings</div>
      <div class="title-text">leaving over </div>
      <div class="answer-text">200+ people dead</div>

      <div class="reference">reference:
        <a href="http://www.motherjones.com/politics/2012/12/mass-shootings-mother-jones-full-data">here</a>
      </div>
    </div>

    </div>
  </section>

  <section class="small-sec">
      <div class="answer-text">Suicide by Firearm</div>
  </section>

  <section class="middle-sec" id="suicide-sec">

  <div id="knife-left">

    <div>
      <div class="answer-text">178/2160</div>
      <div class="title-text">of all suicide deaths 2014</div>
    </div>

    <div>
      <div style="width: 80%">
        <canvas id="ctxBar-Aus"></canvas>
      </div>
      <div class="answer-text">0.7</div>
      <div class="title-text">deaths per 100,000 2014</div>
    </div>

    </div>

    <div id="knife-right">
      <div>
        <div class="answer-text">21,334/42,773</div>
        <div class="title-text">of all suicide deaths 2014</div>
        <div style="width: 80%">
          <canvas id="ctxBar-Us"></canvas>
        </div>
      </div>
      <div>
        <div class="answer-text">6.7</div>
        <div class="title-text">deaths per 100,000 2014</div>
      </div>
      </div>


  </section>

  <section class="small-sec" style="background-color: red">
    <div class="answer-text">The US had 6x the number of suicide deaths by firearm per 100,000 people.</div>
    <div class="title-text">in 2014</div>
    <div class="reference">reference:
      <a href="http://www.motherjones.com/politics/2012/12/mass-shootings-mother-jones-full-data">here</a>
    </div>
  </section>

  <section class="main-sec" id="suicide-graph">
    <div>
      <div class="answer-text">Murders vs. gun murders</div>
      <div class="title-text">1999-2013</div>
      <button class="btn-vote" id="total-btn">total</button>
      <button class="btn-vote" id="suicide-btn">suicide</button>
    </div>

  <div id="per_100_wrapper">
    <canvas id="per_100_total" width="300" height="300"></canvas>
    <canvas id="per_100_suicide" width="300" height="300"></canvas>
    </div>
  </section>

  <section id="likelihood">
    <div class="likelihoodTitle" >Suicide comparison</div>
    <div class="answer-text" id="switch-title">Australia per 100,000</div>
    <button class="btn-vote" id="data-btn">data switch</button>
    <canvas id="bubble" width="300" height="200" class="bubble-graph"></canvas>

    <div class="likelihoodTitle" id="switch-title">The likelihood is the same as ...</div>
      <br>
      <div id="data-3"></div>
      <div id="data-4">in the United States</div>
      <div id="data-5"></div>
      <div id="data-6">in Australia</div>

      <div class="chart02">
        <canvas id="pieChart" class="circle01" width="300" height="300"></canvas>
        <canvas id="pieChart2" class="circle02" width="300" height="260"></canvas>
        <canvas id="pieChart3" class="circle03" width="300" height="200"></canvas>
      </div>
  </section>

  <section class="middle-sec" id="vote-sec">
    <div id="knife-left">

    <div class="vote">
      <h2>Do you think the United States should tighten gun control laws?</h2>
      <%= form_for @vote do |f| %>
        <div>
          <%= f.label 'answer', 'Yes' %>
          <%= f.radio_button :answer, true, class: 'vote_select', :disabled => false %>
        </div>

        <div>
          <%= f.label 'answer', 'No' %>
          <%= f.radio_button :answer, false, class: 'vote_select', :disabled => false %>
        </div>
            <%= f.submit 'Submit', :class => 'btn', :disabled => true, id:'vote_submit' %>
          <% end %>
    </div>
  </div>
<!--

<-->
  <div id="knife-right">
    <p>
      Total yes: <p id="yesVotes"><%= @votes.where(:answer => true).count %></p>
    </p>

    <p>
      Total no: <p id="noVotes"><%= @votes.where(:answer => false).count %></p>
    </p>

    <div style="width: 50%"></div>
    <canvas id="myChart"></canvas>
    </div>

  </section>
