
  <!-- <div id="get-data-box">
    <a href="#" id="get-data">Get JSON data</a>
  </div> -->
  <!-- <nav> <a href="#votes"><p>Vote now</p></a></nav> -->
  <nav id="main-nav">Homicides</nav>

  <div id="timeline">
    Homocides
  </div>

  <section id="intro">
    <div class="intro-layer">
      <h2>GUN CONTROL</h2>
      <h1 class="main-title">US <span class="main-title" id="aus">AUS</span></h1>
      <h4 id="scroll">Scroll to view</h4>
    </div>
        <div class="fullscreen-bg">
          <iframe id="myVideo" class="fullscreen-bg__video" width="100%" height="100%"
          src="https://www.youtube.com/embed/ZwCzHULzIoA?list=PLA6E79A3DF4C79414&loop=1&autoplay=1&controls=0"frameborder="0" volume="0">
          </iframe>
        </div>
  </section>

  <section id="homocide-aus">
    <img class="australia" src="http://www.tenstickers.co.uk/wall-stickers/img/preview/oceania-map-silhouette-wall-sticker-661.png">
    <div class="overlay">
      Australia
    </div>
    <div id="knife-left">
      <div class="title-text">Most common weapon in homicide</div>
      <div class="answer-text">Knife</div>
    </div>
    <div id="knife-right">
        <div class="title-text">All homicides</div>
        <div class="answer-text">238</div>

        <div class="title-text">Firearm homicides</div>
        <div class="answer-text">20</div>
    </div>
  </section>

  <section id="homocide-us">
    <div id="knife-right">
      <div class="title-text">Most common weapon in homicide</div>
      <div class="answer-text">Firearm</div>
    </div>
    <div id="knife-left">
        <div class="title-text">All homicides</div>
        <div class="answer-text">15,809</div>
        <div class="title-text">Firearm homicides</div>
        <div class="answer-text">10,945</div>
    </div>
  </section>

  <section id="guns">
    <div id="quote"></div>
    <div id="top-quote">
      <div id="text-quote">
        "If U.S. Firearm homicide rates were only 10 times as high as firearm homicide rates in Australia, rather than 23 times as high, there would be substantially fewer homicides."
      </div>
    </div>
  </section>

  <section id="perCapita">

    <div class="perCapitaTitle">Here's how many citizens die per 1000</div>
    <br>
    <div id="data-1"></div>
    <div id="data-2"></div>
    <div style="width: 50%">
      <canvas id="ctxBar"></canvas>
    </div>
  </section>

  <section id="likelihood">
    <div class="likelihoodTitle">The likelihood is the same as ...</div>
      <br>
      <div id="data-3"></div>
      <div id="data-4">in the United States</div>
      <div id="data-5"></div>
      <div id="data-6">in Australia</div>

      <div class="chart02">
        <canvas id="pieChart" class="circle01" width="300" height="300"></canvas>
        <canvas id="pieChart2" class="circle02" width="300" height="260"></canvas>
        <canvas id="pieChart3" class="circle03" width="300" height="200"></canvas>
      </div>
  </section>

  <section id="votes">

    <div class="vote">
      <h2>Do you think the United States should tighten gun control laws?</h2>
      <%= form_for (@vote) do |f| %>
        <div>
          <%= f.label 'answer', 'Yes' %>
          <%= f.radio_button :answer, true %>
        </div>
        <div>
          <%= f.label 'answer', 'No' %>
          <%= f.radio_button :answer, false %>
        </div>
            <%= f.submit 'Submit', :class => 'btn' %>
      <% end %>
    </div>

    <p>
      Total votes: <%= @votes.count %>
    </p>
    <p>
      Total yes: <%= @votes.where(:answer => true).count %>
    </p>
    <p>
      Total no: <%= @votes.where(:answer => false).count %>
    </p>

    <div style="width: 50%"></div>
    <canvas id="myChart"></canvas>
  </section>
