
  <!-- <div id="get-data-box">
    <a href="#" id="get-data">Get JSON data</a>
  </div> -->
  <!-- <nav> <a href="#votes"><p>Vote now</p></a></nav> -->
  <nav id="main-nav">
    <div class="nav-text">Gun Control Statistics</div>
    <!-- <div href="#vote-sec" class="btn-vote">vote now</div> -->
  </nav>

  <!-- <div id="timeline">
    <ul>
      <li><div class="nav-text">Homicides</div></li>
      <li><div class="nav-text">Suicides</div></li>
      <li></li>
    </ul>
  </div> -->

  <section id="intro">
    <div class="intro-layer">
      <h2>GUN CONTROL</h2>
      <h5>in the</h5>
      <h1 class="main-title">US <span class="main-title" id="aus">AUS</span></h1>
      <h6>an incredibly biased but factually correct comparison</h6>
      <h4 id="scroll">Scroll to view</h4>
    </div>
        <div class="fullscreen-bg">
          <iframe id="myVideo" class="fullscreen-bg__video" width="100%" height="100%"
          src="https://www.youtube.com/embed/YqBkT1M6piQ?&autoplay=1&controls=0"frameborder="0" volume="0">
          </iframe>
        </div>
  </section>

  <section id="columbine-sec">

    <div class="homicides" id="orlando-quote">
    <div class="answer-text-white">In 1996,</div>
      <div class="title-text">Australia banned firearms after the Port Arthur Massacre which killed xx people.</div>
      <div class="title-text">Since then, Australia has had </div>
      <div class="answer-text-white">0 mass shootings</div>
      <div class="title-text">The United States has had</div>
      <div class="answer-text-white">64 mass shootings</div>
      <div class="title-text">leaving over </div>
      <div class="answer-text-white">200+ people dead</div>

      <div class="reference">
        <a href="http://www.motherjones.com/politics/2012/12/mass-shootings-mother-jones-full-data">reference here</a>
      </div>
    </div>
    <div id="columbine" style="height:1000px">
      <div class="blue-back"></div>
      <div class="clear-back"></div>
    </div>
  </section>

  <section id="homocide-aus">
      <img class="australia" src="http://www.tenstickers.co.uk/wall-stickers/img/preview/oceania-map-silhouette-wall-sticker-661.png">
    <div class="overlay">
      Australia
    </div>
    <div id="knife-left">
      <div class="answer-text top"><div class="title-text">Most common weapon in homicide</div>Knife</div>
      <div class="weapon"><img src="/assets/knife.png" width="30%" height="30%"></div>
    </div>
    <div id="knife-right">
      <div class="wrapped-content">
        <div class="homicides" id="homicide-left">
          <div class="title-text">All homicides</div>
          <div class="answer-text">238</div>
        </div>
        <div class="homicides">
          <div class="title-text">Firearm homicides</div>
          <div class="answer-text counter num">20</span></div>
        </div>
      </div>
        <canvas id="aus_murder" class="circle-graph" width="50%" height="50%"></canvas>
      <div>
        <div class="answer-text num">0.8%</div>
      </div>
    </div>
  </section>

  <section id="homocide-us">
    <img class="australia" src="http://www.atalantasosnoff.com/wp-content/uploads/2014/09/grey-map-300x235.png">

    <div id="knife-right">
      <div class="wrapped-content">
        <div class="homicides" id="homicide-left">
          <div class="title-text">All homicides</div>
          <div class="answer-text">15,809</div>
        </div>
        <div class="homicides">
          <div class="title-text">Firearm homicides</div>
          <div class="answer-text counter num">10,945</div>
        </div>
      </div>
        <canvas id="us_murder" class="circle-graph" width="50%" height="50%"></canvas>
      <div>
        <div class="answer-text num">69%</div>
      </div>

    </div>
    <div id="knife-left">
      <div class="usa-overlay">
        USA
      </div>
      <div class="answer-text top"><div class="title-text">Most common weapon in homicide</div>Firearm</div>
      <div class="weapon"><img src="/assets/gun.png" width="30%" height="30%"></div>
    </div>
  </section>

  <section id="guns">
    <div id="quote"></div>
    <div id="top-quote">
      <div id="text-quote">
        "If U.S. Firearm homicide rates were only 10 times as high as firearm homicide rates in Australia, rather than 23 times as high, there would be substantially fewer homicides."
        <br>
        <br>
        <div class="title-text">- by so-and-so</div>
      </div>
    </div>
  </section>

  <section id="suicide-title">
      <div class="answer-text-white black">Suicide by Firearm</div>


  <div class="middle-sec" id="suicide-sec">

  <div id="knife-other">
    <div class="overlay-white">
      Australia
    </div>
    <div>
      <div class="answer-text-white"><span style="color:red">178</span>/2160</div>
      <div class="title-text">of all suicide deaths 2014</div>
    </div>

    <div>
      <div>
        <canvas id="ctxBar-Aus" class="circle-graph"></canvas>
      </div>
    </div>

    </div>

    <div id="knife-second">
      <div class="overlay-white">
        USA
      </div>
      <div>
        <div class="answer-text-white"><span style="color:red">21,334</span>/42,773</div>
        <div class="title-text">of all suicide deaths 2014</div>
      </div>
      <div>
        <div>
          <canvas id="ctxBar-Us" class="circle-graph"></canvas>
        </div>
      </div>
      </div>
    </div>
  </section>

  <section id="likelihood">
    <br>
    <div class="answer-text-white" >Suicide by firearm comparison</div>
    <div class="title-text-white" id="switch-title">Australia per 100,000</div>
    <div class="country-btns">
      <img src="/assets/australia.png" class="country" id="aus-btn">
      <img src="/assets/usa.png" class="country" id="us-btn">
    </div>
    <div class="bubble-btn">
    <canvas id="bubble" width="260" height="160" class="bubble-graph"></canvas>
    </div>
  </section>

  <section class="small-sec" style="background-color: red">
    <div class="answer-text">The US had 6x the number of suicide deaths by firearm per 100,000 people.</div>
    <div class="title-text">in 2014</div>
    <div class="reference">reference:
      <a href="http://www.motherjones.com/politics/2012/12/mass-shootings-mother-jones-full-data">here</a>
    </div>
  </section>

  <section class="main-sec" id="homocide-comparison">
    <br>
    <div class="answer-text-white" >Homicide by firearm comparison</div>
    <div class="title-text-white" id="bubble-title-hom">Australia per 100,000</div>
    <div class="country-btns">
      <img src="/assets/australia.png" class="country" id="aus-btn-hom">
      <img src="/assets/usa.png" class="country" id="us-btn-hom">
    </div>
    <div class="bubble-btn">
    <canvas id="bubble-homocide" width="260" height="160" class="bubble-graph"></canvas>
  </div>
  </section>

  <!-- <section class="small-sec">
    <div class="likelihoodTitle" id="switch-title">The likelihood is the same as ...</div>
      <br>
      <div id="data-3"></div>
      <div id="data-4">in the United States</div>
      <div id="data-5"></div>
      <div id="data-6">in Australia</div>
  </section> -->

  <section class="main-sec" id="suicide-graph">
    <div>
      <div class="answer-text">Total homicides vs. firearm homicides</div>
      <div class="title-text">in population numbers</div>
      <div class="title-text">1999-2013</div>
      <button class="btn-vote" id="total-btn">Australia</button>
      <button class="btn-vote" id="suicide-btn">United States</button>
    </div>
    <div>

  <div id="per_100_wrapper">
    <canvas id="per_100_total" width="300" height="300"></canvas>
    <canvas id="per_100_suicide" width="300" height="300"></canvas>
    </div>
    </div>
  </section>

  <section class="small-sec" style="background-color: red">
    <div class="answer-text">The US had 6x the number of murders by firearm per 100,000 people.</div>
    <div class="title-text">in 2014</div>
    <div class="reference">reference:
      <a href="http://www.motherjones.com/politics/2012/12/mass-shootings-mother-jones-full-data">here</a>
    </div>
  </section>

  <section class="middle-sec" id="vote-sec">
    <div id="knife-other top">

    <div class="vote">
      <h2 class="left">Do you think the United States should tighten gun control laws?</h2>
      <%= form_for @vote do |f| %>
        <div class="white">
          <%= f.label 'answer', 'Yes' %>
          <%= f.radio_button :answer, true, class: 'vote_select', :disabled => false %>
        </div>

        <div class="white">
          <%= f.label 'answer', 'No' %>
          <%= f.radio_button :answer, false, class: 'vote_select', :disabled => false %>
        </div>
            <%= f.submit 'Submit', :class => 'btn', :disabled => true, id:'vote_submit' %>
          <% end %>
    </div>
    </div>
<!--

<-->
  <div id="knife-right top">
    <p style="color:white" id="yes-vote">
      Yes: <%= @votes.where(:answer => true).count %>
    </p>

    <p style="color:white">
      No: <%= @votes.where(:answer => false).count %>
    </p>

    <div style="width: 50%"></div>
    <canvas id="myChart" class="circle-graph"></canvas>
    </div>

  </section>
